/* base
------------------------- */

* { box-sizing: border-box; }

html {
  font-size: 18px;
}

body {
  font-family: Texta, sans-serif;
  line-height: 1.25;
  background: #FFF;
  color: #555;
}

a {
  color: #E21;
  text-decoration: none;
}

a:hover {
  color: #333;
}

/* ----  ---- */

.content-wrap {
  width: 960px;
  margin: 0 auto;
}



