/* hire-me
------------------------- */

.hire-me {
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 8px solid #E62;
}

.hire-me__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.hire-me__copy {
  font-size: 1.4rem;
  padding-top: 20px;
  text-align: center;
}

.hire-me__copy__line {
  display: block;
}

.hire-me__copy__line--1 { font-weight: bold; }

@media screen and ( min-width: 768px ) {

  .hire-me__copy {
    font-size: 1.8rem;
    padding-top: 150px;
  }

  .hire-me__image {
    max-width: 100%;
  }

}
