<div class="hire-me col duo">
  <div class="duo__cell hire-me__copy">
    <span class="hire-me__copy__line hire-me__copy__line--1">{{firstLine}}</span>
    <span class="hire-me__copy__line hire-me__copy__line--2">Let&rsquo;s chat!</span>
    <span class="hire-me__copy__line hire-me__copy__line--3">
      <a href="mailto:yo@metafizzy.co">yo@metafizzy.co</a>
    </span>
  </div>
  <div class="duo__cell">
    <img class="hire-me__image" src="../img/custom-logos3.png" alt="Custom logos by Metafizzy" />
  </div>
</div>
