<div class="custom-color"
  data-default-color="{{color}}" data-title="{{title}}" data-layer-src="../img/{{imgSrc}}">
  <span class="custom-color__preview" style="background-color: {{color}}"></span>
  <span class="custom-color__title">
    <span class="custom-color__title__name">{{title}}</span>:
    <span class="custom-color__title__code">{{color}}</span>
  </span>
</div>
