<div class="custom-color"
  data-default-color="{{color}}" data-title="{{title}}" data-layer-src="{{imgSrc}}">
  <span class="custom-color__preview" style="background-color: {{color}}"></span>
  <span class="custom-color__title">{{title}}</span>
</div>
