<div class="custom-color" data-layer-src="{{imgSrc}}" data-default-color="{{color}}">
  <span class="custom-color__preview" style="background-color: {{color}}"></span>
  <span class="custom-color__title">{{title}}</span>
</div>
