/* purchase-well
------------------------- */

.purchase-well {
  background: #EEE;
  border-radius: 5px;
}

.purchase-well__cell {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.purchase-well__cell--copy li {
  margin-bottom: 0.5em;
}

.purchase-button {
  display: block;
  background-color: #6C6;
  background-image: linear-gradient( hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.2);
  color: white;
  font-size: 1.3rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 20px 10px;
  cursor: pointer;
  margin: 10px 0;
}
