<footer class="site-footer">
  <div class="content-wrap">
    <p class="site-footer__brand">
      <a class="site-footer__brand__link" href="https://metafizzy.co">
        {{> mfzy-logo}}
        {{> mfzy-wordmark}}
      </a>
    </p>

    {{> footer-socials}}

  </div>
</footer>
