<div class="custom duo">
  <div class="duo__cell custom__copy">
    <span class="custom__copy__line custom__copy__line--1">Need a custom logo?</span>
    <span class="custom__copy__line custom__copy__line--2">Hire me!</span>
    <span class="custom__copy__line custom__copy__line--3">
      <a href="mailto:yo@metafizzy.co">yo@metafizzy.co</a>
    </span>
  </div>
  <div class="duo__cell">
    <img class="custom__image" src="../img/custom-logos2.png" alt="Custom logos" />
  </div>
</div>
