/* homepage-intro
------------------------- */

.homepage-intro {
}

.homepage-intro__copy {
  font-size: 1.3rem;
  margin: 10px 0;
  text-align: center;
}

.homepage-intro__price-quote {
  font-weight: bold;
}
