<div class="homepage-intro col">
  <p class="homepage-intro__copy">
    <strong class="homepage-intro__price-quote">Any logo: $40</strong>.
    Price increases by $40 with each logo sold.
  </p>
  <p class="homepage-intro__copy">Logos can be purchased only once. You alone get exclusive rights to use it.</p>
</div>
