<div class="homepage-intro col">
  <p class="homepage-intro__copy">
    <strong>Current price for any logo: ${{currentPrice}}</strong></p>
  <p class="homepage-intro__copy">
    Price increases by $15 with each logo sold.</p>
  <p class="homepage-intro__copy">
    Logos can be purchased only once. You alone get exclusive rights to use it.</p>
</div>
