<div class="signup" id="mc_embed_signup">
  <h2 class="section-title">Sign up for updates</h2>
  <p class="signup__copy"><a href="https://eepurl.com/dbUr9D">Get notified when new logos are added and possible price drops.</a></p>
</div>
