/* homepage-header
------------------------- */

.homepage-header {
  background: transparent;
  color: #E62;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

.homepage-header .logo-pizza-logo {
  width: 80px;
  height: 80px;
}

.homepage-header__title {
  margin: 0;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.homepage-header .logo-pizza-wordmark {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 483px;
}

.homepage-header__tagline {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.2em;
}


@media screen and ( min-width: 768px ) {

  .homepage-header .logo-pizza-logo {
    width: 240px;
    height: 240px;
    margin-bottom: -30px;
  }

}
