<header class="homepage-header">
  <div class="content-wrap">
    <div class="col">
      <svg class="homepage-header__logo">
        <use xlink:href="#logo-pizza-logo"></use>
      </svg>
      <div class="homepage-header__copy">
        <h1 class="homepage-header__title">Logo Pizza</h1>
        <p class="homepage-header__tagline">Hot &amp; ready logos for sale</p>
      </div>
    </div>
  </div>
</header>
