/* homepage-header
------------------------- */

.homepage-header {
  background: transparent;
  color: #E21;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

.homepage-header__logo {
  width: 240px;
  height: 240px;
  fill: #E21;
  margin-bottom: -30px;
}

.homepage-header__title {
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding-top: 5px;
  margin-bottom: 5px;
  letter-spacing: 0.2em;;
}

.homepage-header__tagline {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.2em;;
}
