<div class="col">
  <header class="homepage-header">
    <svg class="homepage-header__logo">
      <use xlink:href="#logo-pizza-logo"></use>
    </svg>
    <h1 class="homepage-header__title">Logo Pizza</h1>
    <p class="homepage-header__tagline">Hot &amp; ready logos for sale</p>
  </header>
</div>
