<div class="col">
  <header class="homepage-header">
    {{> logo-pizza-logo}}
    <h1 class="homepage-header__title">Logo Pizza</h1>
    <p class="homepage-header__tagline">Hot &amp; ready logos for sale</p>
  </header>
</div>
