<div class="duo flavor-text">
  <div class="duo__cell">
    <h2 class="flavor-text__title">Buying a logo you get:</h2>
    <div class="flavor-text__copy">
      <ul>
        <li>Production-ready asset files in vector AI, PDF, EPS, and raster PNG. Ready to be used in print, document, web, and video.</li>
        <li>Exclusive rights to use the logo. No one else will be able to purchase or use the same logo. View
          <a href="license">Logo Pizza Logo License Agreement</a>.
        </li>
        <li>Variants: one-color treatments for light and dark backgrounds, custom colors, and/or alternate imagery.</li>
      </ul>
    </div>
  </div>
  <div class="duo__cell">
    <h2 class="flavor-text__title">Your project deserves a good logo</h2>
    <div class="flavor-text__copy">
      <p>A logo isn't the most important part of your project, but it can be the most special. It's that extra something that you can't quite explain, but you know it when you see it. The logo stands in places where your project can't fit: in avatars, on t-shirts, before videos, next to titles. Not everything can be said in words. That's what logos are for.</p>
    </div>
  </div>
</div>
