<div class="asset-display {{#if isDark}}asset-display--dark{{/if}}">
  <h2 class="asset-display__title">{{title}}</h2>
  <img class="asset-display__img asset-display__img--big" src="../img/{{imgSrc}}" alt="{{title}}" />
  <img class="asset-display__img asset-display__img--small" src="../img/{{imgSrc}}" alt="{{title}}, small preview" />
</div>
