<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Logo Pizza - Logos for sale</title>

  <meta name="description" content="Hot and ready logos for sale" />
  {{! Twitter card }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@metafizzyco" />
  <meta name="twitter:title" content="Logo Pizza" />
  <meta name="twitter:description" content="Hot and ready logos for sale" />
  <meta name="twitter:image" content="http://logo.pizza/img/collage-card-vol2.png" />
  {{! Facebook OpenGraph }}
  <meta property="og:url" content="http://logo.pizza" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Logo Pizza" />
  <meta property="og:image" content="http://logo.pizza/img/collage-card-vol2.png" />
  <meta property="og:site_name" content="Logo Pizza" />
  <meta property="og:description" content="Hot and ready logos for sale" />

  {{> css-links}}

</head>
<body>

<div class="content-wrap">

  {{> homepage-header}}

  {{> homepage-intro}}

  {{> for-sale}}

  {{> flavor-text}}

  {{> signup}}

  {{> hire-me firstLine="Need a custom logo?"}}

  {{> about}}

</div> {{! content-wrap }}

{{> collage-vol2}}

<div class="content-wrap">

  {{> previous}}

</div> {{! content-wrap }}

{{> collage-vol1}}

{{> site-footer}}

{{> html-foot}}
