<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Logo Pizza - Logos for sale</title>

{{#each cssPaths}}
  <link rel="stylesheet" href="../{{this}}" />
{{/each}}

</head>
<body>

{{> inline-svg-symbols}}

<div class="content-wrap">

  {{> homepage-header}}

  {{> homepage-intro}}

  {{> filter}}

  {{> thumbnails}}

  {{> flavor-text}}

  {{> hire-me firstLine="Need a custom logo?"}}

</div> {{! content-wrap }}

<div class="collage">
  <img class="collage__image" src="../img/collage.png" alt="Logo Pizza logo pizza" />
</div>

{{#each jsPaths}}
  <script src="../{{this}}"></script>
{{/each}}

</body>
</html>
