<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Logo Pizza Logo License Agreement</title>

{{> css-links}}

</head>
<body>

<div class="content-wrap">

  {{> site-header}}

  <div class="skinny-column">

    <h1>Logo Pizza Logo License&nbsp;Agreement</h1>

    <p>This Logo License Agreement (the "<strong>Agreement</strong>") is between Metafizzy LLC ("<strong>Metafizzy</strong>") and <strong>You</strong> (including your agents and affiliates), a commercial licensee of Metafizzy's designs.</p>

    <h2>Definitions</h2>

    <ul>
      <li>"<strong>Logo</strong>" means the logo design, images and files.</li>
      <li>"<strong>Application</strong>" means any print, digital, or video production.</li>
    </ul>

    <h2>License grant</h2>

    <p>Subject to the terms of this Agreement, Metafizzy grants to You an exclusive, non-transferable license to use the Logo in an unlimited number of Applications.</p>

    <p>You can modify or manipulate the Logo. You can combine the Logo with other images or words and make derivative works from it.</p>

    <h2>Ownership</h2>

    <p>Subject to the purchase of the Logo, You own its copyright and all intellectual property rights inherent in or relating to the Logo.</p>

    <p>Metafizzy shall have a worldwide, perpetual, non-exclusive, royalty-free, sublicenseable and transferable license to use and display the Logo as part of its portolio and merchandise.</p>

    <h2>Prohibited Uses</h2>

    <p>You cannot re-distribute the Logo as stock or as a design template.</p>

    <h2>Indemnification</h2>

    <p>You agree to indemnify, hold harmless, and defend Metafizzy and its owners, officers, agents, and affiliates from and against any and all claims, lawsuits and proceedings (collectively “Claims”), and all expenses, costs (including attorney's fees), judgments, damages and other liabilities resulting from such Claims, that arise or result from Your use of the Logo in violation of this Agreement.</p>

    <h2>Payment and Taxes</h2>

    <p>All payments under this Agreement are due to Metafizzy upon Your purchase of the Logo.</p>

    <p>Each party shall be responsible for all taxes (including, but not limited to, taxes based upon its income) or levies imposed on it under applicable laws, regulations and tax treaties as a result of this Agreement and any payments made hereunder (including those required to be withheld or deducted from payments); provided that You shall be responsible for any value added tax, use tax, sales tax, or similar tax,  and shall pay or reimburse Metafizzy for the same upon invoice. Each party shall furnish evidence of such paid taxes as is sufficient to enable the other party to obtain any credits available to it, including original tax withholding certificates.</p>

    <h2>Miscellaneous</h2>

    <p><strong>Survival.</strong> The provisions of sections 5 through 7 will survive termination of this Agreement.</p>

    <p><strong>Compliance with Applicable Laws.</strong> You agree that You will comply with all applicable laws and regulations with respect to the Logo, including without limitation all export control laws and regulations.</p>

    <p><strong>Assignment.</strong> This Agreement may be assigned by Metafizzy in whole or in part and will inure to the benefit of Metafizzy’s successors and assigns. You may not assign or transfer this Agreement without Metafizzy’s prior written consent. Notwithstanding the foregoing, however, if You transfer ownership of an Application to a customer for which it was developed, You may assign this Agreement to that customer (the “Assignee”) provided: (i) You provide written notice to Metafizzy prior to the effective date of such assignment; and (ii) there is a written agreement, wherein the Assignee accepts the terms of this Agreement.</p>

    <p><strong>Entire Agreement.</strong> The terms and conditions stated herein set forth the entire agreement of the parties and replace and supersede all other contracts, agreements, and understandings, written or oral, relating to the subject matter hereof.</p>

    <p><strong>Severability.</strong> In the event that any portion of this Agreement is held to be unenforceable, such portions shall not limit or otherwise modify or affect any other portion of this Agreement.</p>

    <p><strong>Modification; Waiver.</strong> This Agreement cannot be amended except by a written instrument executed by each of the parties. The failure of either party to enforce any provision of this Agreement may not be deemed a waiver of that or any other provision of this Agreement.</p>

    <p><strong>Governing Law.</strong> This Agreement is governed by the laws of the Commonwealth of Virginia (notwithstanding conflicts of laws provisions), and all parties irrevocably submit to the jurisdiction of the state or federal courts of the Commonwealth of Virginia and further agree to commence any litigation which may arise hereunder in the state or federal courts located in the judicial district of Alexandria, Virginia. The UN Convention on Contracts for the International Sale of Goods is expressly excluded.</p>

  </div> <!-- .skinny-column -->

</div>

{{> site-footer}}

{{> html-foot}}
