<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>{{title}} - Logo for sale</title>

{{#each cssPaths}}
  <link rel="stylesheet" href="../{{this}}" />
{{/each}}

</head>
<body>

{{> inline-svg-symbols}}

<div class="content-wrap">

  {{> site-header}}

  <div class="logo-page">

    <div class="duo">
      <div class="duo__cell">
        {{> asset-display mainAsset isMain="true" title=title}}
      </div>
      <div class="duo__cell">
        <h1 class="logo-page__title">{{ title }}</h1>
        {{#if description}}
          <div class="logo-page__description">
            <p>{{ description }}</p>
          </div>
        {{/if}}

        {{> custom-colors}}

      </div> <!-- duo-cell -->
    </div> <!-- duo -->

    {{#unless isSold}}
      <div class="duo purchase-well col">
        <div class="duo__cell purchase-well__cell purchase-well__cell--copy">
          <p>Purchasing this logo you get:</p>
          <ul>
            <li>Production-ready asset files in vector formats — .ai, .pdf, .eps — and raster .png. Ready to be used in print, document, web, and video.</li>
            <li>Exclusive rights to use the logo. No one else will be able to purchase or use the same logo.</li>
            <li>Variants:
              {{#each variants}}
                {{title}},
              {{/each}}
              {{#if customColors}}custom colors{{/if}}.
            </li>
          </ul>
        </div>
        <div class="duo__cell purchase-well__cell">
          <button class="purchase-button">Buy Logo $80</button>
        </div>
      </div>
    {{/unless}}

    {{#if variants}}
      <div class="duo">
        {{#each variants}}
          <div class="duo__cell">
            {{> asset-display}}
          </div>
        {{/each}}
      </div> <!-- duo -->
    {{/if}}

    {{#if isSold}}
      {{> hire-me firstLine="Want a logo like this one, but different?"}}
    {{/if}}

  </div>

</div>

{{> site-footer}}

{{#each jsPaths}}
  <script src="../{{this}}"></script>
{{/each}}

</body>
</html>
