<header class="site-header col">
  <a class="site-header__link" href=".">
    {{> logo-pizza-logo}}
    <span class="site-header__title">Logo Pizza</span>
    {{> logo-pizza-wordmark}}
  </a>
</header>
