/* site-header
------------------------- */

.site-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.site-header__link {
  color: #E21;
  text-decoration: none;
}

.site-header__logo {
  width: 50px;
  height: 50px;
  fill: #E21;
  vertical-align: bottom;
  margin-right: 10px;
}

.site-header__link:hover .site-header__logo { fill: #333; }

.site-header__title {
  font-size: 2.0rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;;
}

.site-header__link:hover .site-header__title { color: #333; }
