<header class="site-header col">
  <a class="site-header__link" href=".">
    <svg class="site-header__logo">
      <use xlink:href="#logo-pizza-logo"></use>
    </svg>
    <span class="site-header__title">Logo Pizza</span>
  </a>
</header>
