/* footer-socials
------------------------- */

.footer-socials {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
}

.footer-socials__item {
  display: inline-block;
  margin-right: 30px;
}

.footer-socials__icon {
  width: 1.2em;
  height: 1.2em;
  fill: #E62;
  vertical-align: middle;
}

.footer-socials__link:hover .footer-socials__icon {
  fill: #333;
}

@media screen and (min-width: 768px) {

  .footer-socials {
    font-size: 1.2rem;
  }

}
