<ul class="footer-socials">
  <li class="footer-socials__item">
    <a class="footer-socials__link" href="https://twitter.com/metafizzyco">
      <svg class="footer-socials__symbol">
        <use xlink:href="#twitter-logo"></use>
      </svg>
      @metafizzyco
    </a>
  </li>
  <li class="footer-socials__item">
    <a class="footer-socials__link" href="https://instagram.com/metafizzy">
      <svg class="footer-socials__symbol">
        <use xlink:href="#instagram-logo"></use>
      </svg>
      instagram.com/metafizzy
    </a>
  </li>
</ul>
