/* duo
------------------------- */

.duo {
}

/* clearfix */
.duo:after {
  content: '';
  display: block;
  clear: both;
}

.duo__cell {
  width: 440px;
  float: left;
  margin: 20px 10px;
}

.duo__cell:nth-child(2n+1) { margin-right: 20px; }
