<div class="filter col" data-js="filter">

  <div class="filter__group filter__group--tag" data-filter-group="tag">
    <button class="filter__button is-selected" data-filter="">Any</button>
    <button class="filter__button" data-filter=".tag-animal">animal</button>
    <button class="filter__button" data-filter=".tag-object">object</button>
    <button class="filter__button" data-filter=".tag-human">human</button>
    <button class="filter__button" data-filter=".tag-abstract">abstract</button>
    <button class="filter__button" data-filter=".tag-thick-lines">thick lines</button>
    <button class="filter__button" data-filter=".tag-one-color">one-color</button>
    <button class="filter__button" data-filter=".tag-multi-color">multi-color</button>
    <button class="filter__button" data-filter=".tag-head">head</button>
    <button class="filter__button" data-filter=".tag-body">body</button>
    <button class="filter__button" data-filter=".tag-hand">hand</button>
  </div>

  <div class="filter__group filter__group--status" data-filter-group="status">
    <button class="filter__button is-selected" data-filter="">Any</button>
    <button class="filter__button" data-filter=".is-for-sale">For sale</button>
    <button class="filter__button" data-filter=".is-sold">Sold</button>
  </div>

</div>
